body{
    background-image: url(../img/bg.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

#titulo{
color: white;
font-size: 25px;
}

#texto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    background-color: rgb(125, 15, 228);
    padding: 10px;
    font-size: 20px;
}

#menu{
    margin-left: -12px;
    margin-top: -5px;
    border: 2px solid black;
    font-size: 24px;
    color: white;
    background-color: rgb(46, 35, 204);
    position: sticky;
}

li a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1.3px;
    -webkit-text-stroke-color: black;
}

li{
    list-style-type: circle;
    padding: 15px;
    display: inline;
}

p{
    color: white;
    font-family: Arial;
    font-size: 20;
}

li a:hover{
    background-color: rgb(13, 108, 231);
    text-shadow: 1px 1px 3px black;
    border-radius: 10px;
    text-transform: uppercase;
}

