body{
    background-image: url(../img/bg.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

#titulo{
color: white;
font-size: 25px;
}

#texto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid 2px lightblue;
    border-radius: 5px;
    background-color: rgb(125, 15, 228);
    padding: 5px;
    font-size: 20px;
}

#menu{
    margin-left: -10px;
    margin-top: -10px;
    width: 101.09%;
    border: 2px solid black;
    font-size: 24px;
    color: white;
    background-image: linear-gradient( rgb(199, 12, 199) ,rgb(75, 4, 146));
    position: sticky;
}

li a{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1.3px;
    -webkit-text-stroke-color: black;
}

li{
    list-style-type: circle;
    padding: 15px;
    display: inline;
}

p{
    color: white;
    font-family: Arial;
    font-size: 20;
    
}

li a:hover{
    background-image: linear-gradient( rgb(75, 4, 146), rgb(199, 12, 199));
    text-shadow: 1px 1px 3px black;
    border-radius: 10px;
    text-transform: uppercase;
}


.image-hover {
    width: 300px;
    height: 150px; 
    background-image: url('../img/baby.jpg');
    background-size: cover; 
    transition: background-image 0.5s ease-in-out; 
    background-size: cover;
    border: solid 2px lightblue;
    border-radius: 5px;
}

.image-hover:hover {
    background-image: url('../img/Ashbaby.jpg'); 
    width: 300px;
    height:200px ;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px lightblue;
    border-radius: 5px;
}

#borderex{
    color: black;
    border: dotted 5px red;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-image: linear-gradient(yellow, red, orange);
}


.sobremim{
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.imgpfp{
    border: solid 3px lightblue;
    border-radius: 9px;
    box-shadow: 3px 3px 5px   rgb(138, 20, 255);
    width: 20%;
    margin: 20px;
    
}

#txtimg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.lista{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: azure;
    background-image: linear-gradient( rgb(98, 0, 255), rgb(102, 102, 145));
    border: dashed lightblue;
    border-radius: 5px;
    

}